
    <div id="main">
    <div id="img-wrapper">
        <img src="images/autor.png">
    </div>
   
 </div>
 <div class="info"><%= autor%></br>
  <a href='<%= linkedIn%>'>Mas sobre el Autor</a>
</div>
 
