<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas</h2>    
      <%= respuesta %>    
      <a href='/quizes/question'>Intentalo Otra Vez</a>
  </body>
</html>
